body {
    font-family: Cambria, Cochin;
}

.discount {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px; 
    height: 60px;
    background-color: #ff4500;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    color: white;
    font-weight: bold; 
    font-size: 14px; 
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.giaTien{
    text-align: center;
    color:red;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
    display: block;
}

.post > a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.2rem;
}