
.banner-container {
    position: relative;
    width: 100%;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 150.5%;
    font-weight: bold;
}

.subtitle {
    font-size: 80%;

}








.cupon {
    width: 80%;
    text-align: center;
    margin: auto;
    background-color: #e8e7e7;
    padding: 15px 0;
    border-top: 3px solid red;
}



form {
    width: 80%;
    margin: auto;
}


input[type="text"] {
    width: 100%;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding-left: 15px;
}



.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}


.row_oder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;
}

.blog > img {
    width: 25%;
    height: auto;
}













footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: azure;
    box-sizing: border-box;
}

footer .col {
    flex: 1 1 250px;
    margin-bottom: 20px;
}

footer .contact {
    width: 60%;
    height: 35px;
}

footer .btn_contact {
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    padding: 8px 12px;
}