body {
    font-family: Cambria
}

.tinNhan {
    resize: none;
    width: 100%;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding-left: 15px;
}



.contact-container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.contact-item {
    min-width: 100px;
    flex: 1;
    padding: 10px;
}

.contact-item .icon {
    font-size: 24px;
    color: #8bc34a;
    margin-bottom: 5px;
}

.contact-item .label {
    font-weight: bold;
    color: #333;
    margin-bottom: 3px;
}

.contact-item .value {
    color: #666;
    font-size: 14px;
}

.map{
    width: 80%;
    margin: auto;
    padding: 5% 10% 5% 10%;

}