.banner-container {
    position: relative;
    width: 100%;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 150.5%;
    font-weight: bold;
}

.subtitle {
    font-size: 80%;

}







.checkOut {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
    max-width: 1100px; 
}

.col_one, .col_two {
    flex: 1 1 300px; 
    min-width: 300px;
    max-width: 600px;
    padding: 2rem;
}
.cupon {
    width: 80%;
    text-align: center;
    margin: auto;
    background-color: #e8e7e7;
    padding: 15px 0;
    border-top: 3px solid red;
}


form {
    min-width: 400px;
    max-width: 600px;
    margin: auto;
}


input[type="text"] {
    width: 100%;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding-left: 15px;
}



.row {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.row label {
    flex: 1;
    min-width: 50px;
}


.row_oder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    ;
}

.blog>img {
    width: 25%;
    height: auto;
}
.payMent {
    padding: 15px 50px;
    width: 100%;
    max-width: 100%;
    min-width: 250px;
    display: block;
    margin: auto;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: lightblue;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.col_two {
    background-color: azure;
    padding: 2rem;
    border-radius: 10px;
    max-width: 750px;
    align-self: flex-start;
}


.payMent:hover{
    background-color: blueviolet;
    color: white;
}
.payMent:active{
    transform: scale(0.95);
}


.r1, .r2,.r111{
    font-size: 1.25rem;
    font-weight: bold;
}

.r11{
    font-size: 1.0rem;
}

.r22{
    font-size: 1.1rem;
    font-weight: bold;
}

.r222{
    font-weight: bold;
    font-size: 1.25rem;
    color: red;
}

.col_two >div>span{
    padding: 10px 0px;
}



footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: azure;
    box-sizing: border-box;
}

footer .col {
    flex: 1 1 250px;
    margin-bottom: 20px;
}

footer .contact {
    width: 60%;
    height: 35px;
    padding: 0 10px;
}
footer .btn_contact {
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    height: 40px;
    width: 70px;
    margin-top: 12px;
}