body {
    font-family: Cambria
}

.banner-container {
    position: relative;
    width: 100%
}

.banner {
    width: 100%;
    height: auto;
    display: block
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5)
}


.title {
    font-size: 150.5%;
    font-weight: bold;
}

.subtitle {
    font-size: 80%;

}



footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: azure;
    box-sizing: border-box;
}

footer .col {
    flex: 1 1 250px;
    margin-bottom: 20px;
}

footer .contact {
    width: 60%;
    height: 35px;
    padding: 0 10px;
}

footer .btn_contact {
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    height: 40px;
    width: 70px;
}


.tinNhan {
    resize: none;
    width: 100%;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding-left: 15px;
}



.contact-container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.contact-item {
    min-width: 100px;
    flex: 1;
    padding: 10px;
}

.contact-item .icon {
    font-size: 24px;
    color: #8bc34a;
    margin-bottom: 5px;
}

.contact-item .label {
    font-weight: bold;
    color: #333;
    margin-bottom: 3px;
}

.contact-item .value {
    color: #666;
    font-size: 14px;
}

.map{
    width: 80%;
    margin: auto;
    padding: 5% 10% 5% 10%;

}